<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Editar perfil</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label">Image del perfil</label>
          <img class="profile-picture" ng-src="{{user.picture || 'https://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i>Nombre de usuario</label>
          <input type="text" class="form-control" ng-model="user.username" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i>Email</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <button class="btn btn-lg btn-success">Guardar Información</button>
      </form>
    </div>
  </div>
</div>
